<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

    <!-- 
				条件渲染：
							1.v-if
										写法：
												(1).v-if="表达式" 
												(2).v-else-if="表达式"
												(3).v-else="表达式"
										适用于：切换频率较低的场景。
										特点：不展示的DOM元素直接被移除。
										注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

							2.v-show
										写法：v-show="表达式"
										适用于：切换频率较高的场景。
										特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
								
							3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
		 -->

    <!-- 准备好一个容器 -->
    <div id="root">

        <h2>n 当前的值为 : {{n}}</h2>
        <button @click="n++">点我n+1</button>


        <template v-if="n === 1">
            <h1>你好</h1>
            <h1>尚硅谷</h1>
            <h1>北京</h1>
        </template>

        <!-- <div v-if="n === 1">React</div>
        <div v-else-if="n === 2">Angular</div>
        <div v-else-if="n === 3">Vue</div>
        <div v-else>哈哈</div> -->

        <!-- 使用 v-show 做为条件渲染 -->
        <!-- <h1 v-show="false">{{name}}</h1> -->
        <!-- <h1 v-show="1 === 1">{{name}}</h1> -->
        <!-- 使用 v-if 做为条件渲染 -->
        <!-- <h1 v-if="false">{{name}}</h1> -->
        <!-- <h1 v-if="1 === 1">{{name}}</h1> -->
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。
        //创建Vue实例
        new Vue({
            el: '#root', //el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符串。
            data: { //data中用于存储数据，数据供el所指定的容器去使用，值我们暂时先写成一个对象。
                name: '尚硅谷',
                n: 0
            }
        });
    </script>
</body>

</html>